@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 400 600;
    font-style: normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
    border:0;
}
body{
    background-color: #C3C3C3;
}
.card{
    width: 310px;
    height: 300px;
    background-color: #fff;
    margin-top: 24px;
    margin-left: 17px;
}
.card__header{
    margin-top: 28px auto 30.5px 10px;
    font: 400 12px/15px "Montserrat", sans-serif;
    color: #00000080;

}
.card__data{
    font: 600 12px/15px "Montserrat", sans-serif;  
    color: #575756;
    text-align: center;
    margin: 20px 0;
    border-bottom:  1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}
.card__content-main{
    font: 600 18px/22px "Montserrat", sans-serif;      
    color: #000000;
    text-align: center;
    margin: 15px 39.5px 30.5px;
}
.card__content{
    font: 300 12px/15px "Montserrat", sans-serif;      
    color: #000000;
    margin-left: 30.5px;
    margin-right: 39.5px;
    text-align: center;
}
.card__footer{
    font: 400 14px/20px "Montserrat", sans-serif; 
    color: #1438A5;
    text-align: center;
    margin-top: 25px;
}
.cards__list{
    display: inline-block;
    margin-right: 17px;
    margin-bottom: 17px;
}
.button{
    width: 260px;
    height: 50px;
    border: 2px solid #575756;
    display: flex;
    margin: 0 auto 15px;
    align-items: center;
    justify-content: center;
}
.button__link{
    text-decoration: none;
    color: #000;
}