@font-face {
  font-family: "Stem";
    src: url("fonts/Stem-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Stem";
    src: url("fonts/Stem-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{
  --font: "Stem" , sans-serif;
  --color:#0F213A;
}

.navigation {
  margin: 24px auto 0;
  display: flex;
  justify-content: space-evenly;
}

.navigation__span {
  font: 300 14px/24px var(--font);
  color:var(--color);
  padding: 0 5px 20px;

  &:nth-child(2) {
    color: #666;
  }

  &:nth-child(4) {
    color: #666;
  }

  &:nth-child(5) {
    color: #666;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1580px;
  margin: 24px auto 56px;
}

.container__main {
  max-width: 920px;
  width: 100%;
  padding: 20px;
}

.container__main-title {
  font: 300 35px/42px var(--font);
  margin: 12px 0;
  color: var(--color);
}

.container__main-text {
  font: 300 16px/26px var(--font);
  padding-right: 20px;
  color: var(--color);
}

.container__filter {
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.container__filter-select {
  font: 500 16px/24px var(--font);
  color: var(--color);
  font-variant: small-caps;
  padding-right: 26px;
  display: flex;
  align-items: center;

  &::after {
    content: " ";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("images/icons.svg");
    background-repeat: no-repeat;
  }
}

.container__filter-filter {
  font: 500 16px/24px var(--font);
  font-variant: small-caps;
  margin-right: 8px;
  color: var(--color);
}

.container__filter-num {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #E9F0F1;
  border-radius: 50%;
  text-align: center;
  font: 500 16px/24px var(--font);
  margin-bottom: 3px;
  color: var(--color);
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1580px;
  gap: 48px 60px;
  margin: 0 auto;
}
 
.content__item-img {
  width: 370px;
  padding: 20px;
}

.content__item-texts {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__item-text {
  font: 500 12px/20px var(--font); 
  color: var(--color);
  background-color: #E9F0F1;
  max-width: max-content;
  padding: 0 6px;
  margin-top: 10px;

  + .content__item-text {
    display: flex;
  }
}

.content__item-title {
  max-width: 346px;
  width: 100%;
  font: 500 16px/26px var(--font); 
  color: var(--color);
  text-align: center;
  margin-top: 10px;

  &:nth-child(2) {
    margin-top: 40px;
  }
}

.content__item-item {
  margin: 14px 0;
  font: 300 12px/21px var(--font); 
  color: var(--color);
  display: flex;
  justify-content: center;
  gap: 4px;
}

.content__item-price {
  margin-bottom: 24px;
  font: 300 16px/24px var(--font); 
  color: var(--color);
}

.content__item-price-old {
  font: 300 16px/24px var(--font); 
  color: #666;
  text-decoration: line-through;
}

.content__item-prices {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.content__item-button {
  color: var(--color);
  padding: 16px 24px;
  margin-bottom: 10px;
  border: 1px solid var(--color);
  font: 500 14px/24px var(--font);
  background-color: #fff;

  &:nth-child(5) {
    border: 1px solid #666; 
    color:#666;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 708px;
    margin: 0 auto;
  }

  .content__item {
    max-width: 220px;
    padding: 12px;
  }

  .content__item-img {
    max-width: 220px;
  }

  .content {
    max-width: 708px;
    gap: 12px 20px;
    margin: 0 auto;
  }

  .container__filter {
    width: 708px;
    justify-content: space-between;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }

  .content__item {
    max-width: 175.5px;
    padding: 12px;
  }

  .content__item-img {
    max-width: 175.5px;
  }

  .content {
    max-width: 375px;
    gap: 5px 16px;
    margin: 0 auto;
  }
}
