@font-face{
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    width: 1280px;
    margin-top: 172px;
    margin-left: 80px;
    margin-right: 80px;
}

.container__text {
    font: 400 36px/100% "Roboto", sans-serif;
    margin-top: 172px;
    margin-right: 415px;
    margin-left: 415px;
    text-align: center;
    max-width: 439px;
    width: 100%;
}

.features {
    margin: 172px 80px 52px;
}

li {
    list-style: none;
}

.features__item{
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    max-width: 337px;
    width: 100%;
    margin-bottom: 110px;
}

.features__restangle-one, .features__restangle-two, .features__restangle-three, .features__restangle-four, .features__restangle-five, .features__restangle-six {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 26px 134px;
}

.features__restangle-one {
    background-color: #21F7EC;
}

.features__restangle-two {
    background-color: #33D3BC;
}

.features__restangle-three {
    background-color: #18A5C6;
}

.features__restangle-four {
    background-color: #D38F62;
}

.features__restangle-five {
    background-color: #F94C43;
}

.features__restangle-six {
    background-color: #D399FF;
}

.features__txt {
    max-width: 190px;
    width: 100%;
    margin-right: 85px;
    margin-left: 85px;
    text-align: center;
    font: 700 30px/100% "Roboto", sans-serif;

&:first-child {
    margin-right: 96px;
    margin-left: 96px;
    }
}

.interviews {
    max-width: 1440px;
    width: 100%;
    background: linear-gradient( #fff 50%, #F0F0F0 50%);
}

.interviews__text {
    max-width: 705px; 
    width: 100%;
    font: 700 36px/100% "Roboto", sans-serif;
    text-align: center;
    margin-left: 368px;
    margin-right: 368px;
    margin-bottom: 102px;
}

.interviews__card {
    display: inline-block;
    max-width: 288px;
    width: 100%;
    margin-right: 100px;
    margin-left: 100px;
&:last-child {
    margin-right: 0;
}
}

.interviews__card-img {
    width: 288px;
    margin-bottom: 35px;
}

.interviews__card-quote {
    font: 700 24px/100% "Roboto", sans-serif; 
    margin-bottom: 35px;
    max-width: 270px;
    width: 100%;
    text-align: center;
}

.interviews__card-name {
    display: inline-block;
    max-width: 270px;
    width: 100%;
    text-align: center;
    margin-bottom: 44px;
    font: 400 20px/100% "Roboto", sans-serif;
}

.interviews__card-link {
    display: inline-block;
    max-width: 270px;
    width: 100%;
    text-align: center;
    margin-bottom: 52px;
    font: 700 18px/100% "Roboto", sans-serif;
    color: #000;
}